<div layout="column" class="app-container md-whiteframe-z1">
  <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
</div>

<md-content layout-padding ng-controller="nomCtrl" class="app-container md-whiteframe-z1">
	<md-input-container class="md-block" flex-gt-sm>
        <label>Name {{ nombre }}</label>
        <input ng-model="nombre">
    </md-input-container>
		
	<md-button class="md-raised md-primary" ng-click="save()">Save</md-button>

	<md-button class="md-fab md-warn" aria-label="Use Android">
          <md-icon md-svg-src="img/icons/android.svg"></md-icon>
    </md-button>


	<table>
		<tr ng-repeat="d in lista | filter: nombre">
			<td> {{ d.nombre }}</td> 
			<td> {{ d.codigo }}</td> 
		</tr>
	</table>
</md-content>